.carousel-wrapper {
  width: 1000px;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}
.owl-nav {
  overflow: hidden;
  height: 0px;

}

.nav-button {;
  cursor: pointer;
  position: absolute;
  font-size: 234px;
  top: 40% !important;
  bottom: 40%;
  color: black;
  background-color: blue;
}

.owl-prev {
  left: -35px;
  color: black;
  background-color: blue;
}
.owl-next {
  right: -35px;
  background-color: blue;
}


